<!-- <div  class="center">
    <div class="container-something-went-wrong">
        <div class="header">

        </div>
        <span class="material-icons">error</span>
        <span class="label">something went wrong</span>
        <button mat-button color="warn" (clickAction)="refresh()">Refresh</button>
    </div>
</div> -->
<h1 mat-dialog-title>Error</h1>
<div mat-dialog-content>
  <p>Something went wrong</p>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="refresh()">Refresh</button>
</div>