:host {
    position: relative;
    height: 100%;
    display: block;

    [mat-dialog-actions] {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: end;
    }
}