html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ui-preloader {
  background-image: url("/assets/ui-preloader/preloader.svg");
  width: 100px;
  height: 100px;
}

.ui-large-spinner {
  display: flex;
  height: 100%;
}